on:
  workflow_call:

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        show-progress: false
    - name: Setup Node.js
      uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4.1.0
      with:
        node-version-file: .nvmrc
        check-latest: true
        cache: npm
    - name: Install
      run: npm ci
    - name: Compile file and build
      run: npm run build
    - name: Test Build
      run: |
        export WORKING_DIR=`pwd`
        export ENV_DIR=$WORKING_DIR/.env

        cp $WORKING_DIR/default.env $WORKING_DIR/.env.local
        mkdir -p $ENV_DIR/public

        echo "PUBLIC_DIRECTORY_PATH=$ENV_DIR/public" >> $WORKING_DIR/.env.local
        echo "RESOURCES_DIRECTORY_PATH=$ENV_DIR/configurations" >> $WORKING_DIR/.env.local

        npm run start:local &

        ./scripts/wait-for-it.sh localhost:3001 --timeout=20

        curl -i "http://localhost:3001/-/ready" | grep "HTTP/1.1 200 OK"
        exit `echo $?`
    - name: Upload Build Artifacts
      uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
      with:
        name: build
        path: dist
        if-no-files-found: error
