name: Tag

env:
  NPM_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

on:
  push:
    tags:
      - 'v*'

jobs:
  tests:
    uses: micro-lc/middleware/.github/workflows/tests.yml@main
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}

  lint:
    uses: micro-lc/middleware/.github/workflows/lint.yml@main

  build:
    uses: micro-lc/middleware/.github/workflows/build.yml@main

  docker-build:
    needs:
      - tests
      - lint
      - build
    uses: micro-lc/middleware/.github/workflows/docker-build.yml@main
    with:
      version: ${GITHUB_REF#refs/tags/}
      push: true
    secrets:
      docker_username: ${{ secrets.BOT_DOCKER_USERNAME }}
      docker_token: ${{ secrets.BOT_DOCKER_TOKEN }}
      nexus_username: ${{ secrets.NEXUS_USER }}
      nexus_token: ${{ secrets.NEXUS_TOKEN }}
      security_checks_token: ${{ secrets.SECURITY_CHECKS_TOKEN }}

  npm-publish:
    needs:
      - tests
      - lint
      - build

    name: Release package on npm
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: npm
          registry-url: 'https://registry.npmjs.org'

      - name: Install
        run: npm ic

      - name: Build
        run: npm run build

      - name: Publish
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ env.NPM_AUTH_TOKEN }}
